<h1><%= t('pages.edit.miningt') %></h1>

<%= render 'form', mining_type: @mining_type %>

<%= link_to t('links.show'), @mining_type, type:"button", class:"btn btn-dark" %> |
<%= link_to t('links.back'), mining_types_path, type:"button", class:"btn btn-dark" %>
